---
import Audio from "@/components/Audio.astro";
---

<style>
  table {
    text-align: center;
  }
  td:last-child() {
    text-align: initial;
  }
</style>
<table>
  <thead>
    <tr>
      <th>valsi</th>
      <th>smuni</th>
      <th>djunoi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <Audio td from="linku/asi" file="ken" />
      <td>la'e zo kakne</td>
      <td>le'e valsi cu ka'e se fanmo zo'oi <b>n</b></td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="wan" />
      <td>la'e zo pa</td>
      <td>le tokpona cu jai te pilno zo'oi <b>w</b></td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="jan" />
      <td>la'e zo prenu</td>
      <td>ko morji tu'a lo jai ta'i bacru be zo'oi <b>j</b></td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="nanpa" />
      <td>la'e zo namcu</td>
      <td
        >.i ta'o mi'o pilno zo'oi <b>np</b> .iku'i mi'o bacru zo'oi <b>mp</b>
      </td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="kalama" />
      <td>la'e zo sance</td>
      <td>ko jai cipra lonu basna le pamoi slaka</td>
    </tr>
    <tr>
      <Audio td from="linku/asi" file="akesi" />
      <td>lizard</td>
      <td>Words can begin on a vowel!</td>
    </tr>
  </tbody>
</table>
